@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background: white;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo{
    flex: 20%;
    text-align: left;
    margin-left: 10%; 
}

.logo h1{
    font-family: "Lobster", sans-serif;
    color: #494cf3;
    font-size: 34px;
  
}

.menu{
    flex: 70%;
    text-align: right;
    padding: 20px;
}

.menu a{
    color: #494cf3;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover{
    color: #ff776b;
    border-top: 4px solid #494cf3;
}

#botao{
    background: #494cf3;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover{
    border: none;
    background: #ff776b;
}

.header{
    height: auto;
    background: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

.headline{
    margin-right: 10%;
    flex: 40%;
    /* border: 1px solid red; */
}

.headline h2{
    font-weight: 900;
    font-size: 20px;
    color: #494cf3;
    padding: 0;
    margin: 0;
}

.headline p{
    color: #494cf3;
    text-align: left;
}

.contactbtn{
    display: inline-block;
    background: #ff776b;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}

.contactbtn:hover{
    background: #494cf3;
}

.img-headline{
    margin-left: 10%;
    flex: 40%;
    /* border: 1px solid red; */
    text-align: center;
}

footer{
    margin-top: 100px;
    height: 400px;
    background-image:linear-gradient(180deg, #494cf3,#1a2a2f,black);
    text-align: center;
    border-top: 5px solid #ff776b;
}

.logo-rodape{
    padding: 100px;
    width: 100%;
}

.agencia{
    font-family: "Lobster", sans-serif;
    color: white;
    font-size: 34px;
}

.whats{
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 100px;
}

